aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.ac
INSTALL
intltool-extract.in
intltool-merge.in
intltool-update.in
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
mkinstalldirs
stamp-h1
.deps
.libs
po/Makefile.in.in
po/POTFILES
po/stamp-it
po/*.gmo
po/thunar-vcs-plugin.pot
thunar-vcs-plugin/thunar-vcs-plugin.la
thunar-vcs-plugin/thunar_vcs_plugin_la-*.lo
tvp-git-helper/tvp-git-helper
tvp-git-helper/tvp_git_helper-*.o
tvp-svn-helper/tvp-svn-helper
tvp-svn-helper/tvp_svn_helper-*.o
